* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #222;
	color: #FFF;
	font-family: sans-serif;
}

header {
	background-color: white;
	color: black;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	padding: 0.5rem 0;
	margin: 0 auto;
}

header nav #logo {
	width: 3rem;
}

header nav ul {
	list-style-type: none;
	display: flex;
	gap: 1rem;
}

#jumbotron {
	height: 16rem;
	/*
	background-image: url(/img/jumbotron.jpg);
	background-size: cover;
	*/
}

#jumbotron img {
	object-fit: cover;
	object-position: top;
	height: 100%;
	width: 100%;
}